// @import "normalize"; // Bootstrap has this anyhow, ignore while we use that framework
@import "../scripts/ngTooltips/ngTooltips";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #e2e1e0;
}

.hero {
    padding: 1px 0;
    background-color: #2196F3;
    color: #fff;
}
.container {
    width: 1000px;
    margin: 0 auto 20px auto;
}
.hero .container {
    padding: 16px;
}


table {
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0 0 16px;
    th,
    td {
        padding: 4px 6px;
        border-bottom: 1px solid #DDDDDD;
    }
    thead {
        th {
            text-align: left;
        }
    }
    tbody {
        td {
            text-align: right;
        }
        th {
            text-align: left;
        }
    }
    .text {
        text-align: left;
        font-family: inherit;
    }
}


.mono {
    font-family: 'Roboto Mono', monospace;
}


.card {
    // Title
    > h1,
    > h2,
    > h3 {
        margin: 0;
        padding: 10px;
        background: #efefef;
        > .glyphicon {
            font-size: 75%;
        }
    }
    // Contents
    > div {
        padding: 10px;
        background: #fff;
        border-radius: 2px;
    }
    // Material styling
    -webkit-transition: box-shadow ease-in-out 0.2s;
         -o-transition: box-shadow ease-in-out 0.2s;
            transition: box-shadow ease-in-out 0.2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}





.progress {
    margin-bottom: 10px;
    .progress-bar {
        -webkit-transition: none;
             -o-transition: none;
                transition: none;
    }
}