// @import "normalize"; // Bootstrap has this anyhow, ignore while we use that framework
@import "../scripts/ngTooltips/ngTooltips";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #FBFBFB;
}

.hero {
    padding: 1px 0;
    background-color: #2196F3;
    color: #fff;
}
.container {
    width: 1000px;
    margin: 0 auto 20px auto;
}
.hero .container {
    padding: 16px;
}


table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0 0 16px;
    th,
    td {
        padding: 4px 6px;
        border-bottom: 1px solid #DDDDDD;
        vertical-align: top;
        &.text {
            white-space: initial;
            text-align: left;
        }
    }
    thead {
        th {
            text-align: left;
        }
    }
    tbody {
        td {
            text-align: right;
        }
        th {
            text-align: left;
        }
    }
    .text {
        text-align: left;
        font-family: inherit;
    }
}


.mono {
    font-family: 'Roboto Mono', monospace;
}


.card {
    // Material styling
    margin: 20px 0;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: box-shadow ease-in-out 0.2s;
         -o-transition: box-shadow ease-in-out 0.2s;
            transition: box-shadow ease-in-out 0.2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    // Title
    > h1,
    > h2,
    > h3 {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #f1f1f1;
        > .glyphicon {
            font-size: 75%;
        }
    }
    // Contents
    > div {
        padding: 0 10px;
        &:first-child {
            padding: 10px;
        }
        hr {
            margin: 0 -10px 10px -10px;
        }
        // Make this render the same height as the btn-group
        .list-group {
            margin-bottom: 10px;
            .list-group-item {
                height: 34px;
                line-height: 32px;
                padding: 0 10px;
                > .glyphicon {
                    width: 20px;
                    text-align: center;
                }
            }
        }
    }
}



#loop-controls {
    .btn {
        padding-left: 0;
        padding-right: 0;
    }
    .glyphicon + .glyphicon {
        margin-left: -10px;
    }
}



.progress {
    margin-bottom: 10px;
    .progress-bar {
        -webkit-transition: none;
             -o-transition: none;
                transition: none;
    }
}









.sliderToggle {
    border-top: 1px solid #f1f1f1;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background-color ease-in-out 400ms;
         -o-transition: background-color ease-in-out 400ms;
            transition: background-color ease-in-out 400ms;
    background: #F0F0F0;
    > span {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid #888888;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 0 solid #888888;
        overflow: hidden;
        border-width: 10px 10px 0 10px;
        -webkit-transition: transform ease-in-out 400ms;
             -o-transition: transform ease-in-out 400ms;
                transition: transform ease-in-out 400ms;
    }
    &.open > span {
        transform: rotate(-180deg);
    }
}