<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Fateful Choices -->
	<title>Fateful Choices</title>
	<!-- Styles -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/excanvas.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/styles/main.css">
</head>
<body ng-app="fateful">
	<div class="container" ng-controller="DemoCtrl">

		<hr>




		<div class="row">
			<div class="col-md-4">


				<!-- Loop -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-globe" ng-tooltip="Money maketh man\nManners maketh Gentleman"></span>
						<span class="mono">{{ loop.date | date : 'MMM' }}</span>
						{{ loop.date | date : 'yyyy' }}
					</h2>
					<div>
						<!-- Controls -->
						<p>
							<div id="loop-controls" class="btn-group btn-group-justified">
								<a href="" class="btn btn-default" ng-click="loop.play()" ng-class="{ 'btn-primary': loop.isPlaying }" ng-tooltip="Play">
									<span class="glyphicon glyphicon-play"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.pause()" ng-class="{ 'btn-primary': loop.isPaused }" ng-tooltip="Pause">
									<span class="glyphicon glyphicon-pause"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.tick()" ng-tooltip="Step forward 1 Month">
									<span class="glyphicon glyphicon-step-forward"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(1000)" ng-class="{ 'active': loop.speed == 1000 }" ng-tooltip="Speed: Tortoise">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(200)"  ng-class="{ 'active': loop.speed == 200 }" ng-tooltip="Speed: Hare">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(50)"   ng-class="{ 'active': loop.speed == 50 }" ng-tooltip="Speed: Life's too short">
									<span class="glyphicon glyphicon-flash"></span>
								</a>
							</div>
						</p>
						<!-- Progress Meter -->
						<div class="progress">
							<div class="progress-bar" ng-style="{ width: getProgress() }"></div>
						</div>
						<!-- Age and Retirement -->
						<p>
							<span>Age: {{ loop.age | toYears }}</span>
							<span class="pull-right">Retirement in: {{ loop.remaining | toYears }}</span>
						</p>
						<!-- Upcoming Event -->
						<hr>
						<div class="list-group">
							<a href="" class="list-group-item" onclick="alert('Show the Timeline');">
								<span class="glyphicon glyphicon-time"></span>
								Next event: Promotion
							</a>
						</div>
					</div>
				</div>


				<!-- Bank -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-piggy-bank" ng-tooltip="Squeal like a pig!!"></span>
						The Bank
					</h2>
					<!-- Bank :: Overview -->
					<div>
						<h3>{{ 14872 | currency }}</h3>
						<canvas
							id="line"
							class="chart chart-line"
							chart-data="loan.chart.data"
							chart-labels="loan.chart.labels"
							chart-series="loan.chart.series"
							chart-options="loan.chart.options"
							chart-dataset-override="loan.chart.datasetOverride"
							chart-click="loan.chart.onClick"></canvas>
						<!-- Quick Calculation -->
						<hr>
						<table style="cursor: pointer;" onclick="alert('Show the Ledger');">
							<thead>
								<tr>
									<th>Income</th>
									<th>Expenses</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ 1850 | currency }}</td>
									<td>{{ 1690 | currency }}</td>
									<td>
										<span class="glyphicon glyphicon-triangle-top"></span>
										{{ (1850-1690) | currency }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Bank :: More -->
					<div ng-if="bool" class="slideInOut">
						<p>Hello world</p>
						<p>This is a test</p>
						<p>Do not be afraid</p>
					</div>
					<!-- Bank :: Toggle -->
					<div class="sliderToggle" ng-click="bool = !bool" ng-class="{ open: bool }">
						<span></span>
					</div>
				</div>


				<!-- Income -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-briefcase" ng-if="true"  ng-tooltip="Salaryman. That's the life for me"></span>
						<span class="glyphicon glyphicon-education" ng-if="false" ng-tooltip="Buy High! Sell Low!... right?"></span>
						Income
					</h2>
					<div>
						<h3>{{ 1850 | currency }}</h3>
						<p>This should be coupled with a graph</p>
						<hr>
						<p>When clicked, show a breakdown</p>
						<p>Once the user invests, switch the icon from salaryman to investor</p>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="asset in assets">
									<th>{{ asset.name }}</th>
									<td>{{ asset.value | currency }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>




				<!-- Liabilities -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-glass" ng-tooltip="Much obliged"></span>
						Liabilities
					</h2>
					<div>
						<h3>{{ 1690 | currency }}</h3>
						<p>This should be coupled with a graph</p>
						<hr>
						<p>When clicked, show a breakdown</p>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Value</th>
									<th>Cost / Month</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="liability in liabilities">
									<th>{{ liability.name }}</th>
									<td>{{ liability.value | currency }}</td>
									<td>--</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>



				<!-- Portfolio -->
				<div class="card" ng-controller="RadarCtrl">
					<h2>
						<span class="glyphicon glyphicon-book" ng-tooltip="Bet the spread."></span>
						Portfolio Diversity
					</h2>
					<div>
						<canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
					</div>
				</div>






			</div>
			<div class="col-md-8">

				<!-- Intro -->
				<div class="card">
					<h1>Fateful Choices</h1>
					<div>
						<p>Learn how the decisions you make affect your finances.</p>
						<p>You cannot change your income, but you can choose your lifestyle!</p>
						<p>The goal is to live a good life, and have enough left over for retirement.</p>
						<p class="text-center">
							<button class="btn btn-default btn-lg" onclick="alert('Lord Moneybollocks... Hooo!');">Let's Begin</button>
						</p>
					</div>
				</div>

				<!-- Timeline -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-time" ng-tooltip="Time and tide wait for no man"></span>
						Timeline
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Title</th>
									<th>Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="mono">Jan</span> 2022
									</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2025
									</td>
									<td class="text">Wedding</td>
									<td class="text">A one-off expense, that results in a joint income</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2029
									</td>
									<td class="text">Job Hunt</td>
									<td class="text">
										You lose your job, no income for 6 months
										<span class="label label-danger">Hard-Mode</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2026
									</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2029
									</td>
									<td class="text">Baby</td>
									<td class="text">Your joint income is reduced, and you your expenses increase over time</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2032
									</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2029
									</td>
									<td class="text">Divorce</td>
									<td class="text">
										Your joint income is removed, sell your house and split the difference
										<span class="label label-danger">Hard-Mode</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="mono">Jan</span> 2052
									</td>
									<td class="text">Retirement</td>
									<td class="text">Will you sail into the sunset, or live in abject poverty?</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- Loan -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-scale" ng-tooltip="There are two sure ways to lose a friend, one is to borrow, the other to lend."></span>
						Loan
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Amount</th>
									<th>Interest (APR)</th>
									<th>Term</th>
									<th>Start</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>{{ loan.amount }}</th>
									<td>{{ loan.apr | percentage }}</td>
									<td>{{ loan.term }}</td>
									<td>{{ loan.start | date : 'dd/MM/yyyy' }}</td>
								</tr>
							</tbody>
						</table>
						<canvas
							id="line"
							class="chart chart-line"
							chart-data="loan.chart.data"
							chart-labels="loan.chart.labels"
							chart-series="loan.chart.series"
							chart-options="loan.chart.options"
							chart-dataset-override="loan.chart.datasetOverride"
							chart-click="loan.chart.onClick"></canvas>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Start Balance</th>
									<th>Payment</th>
									<th>Interest</th>
									<th>Overpayment</th>
									<th>Principal</th>
									<th>End Balance</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="payment in loan.payments | limitTo:12">
									<th>{{ $index }}</th>
									<td>{{ payment.start_balance | currency }}</td>
									<td>{{ payment.payment | currency }}</td>
									<td>{{ payment.interest | currency }}</td>
									<td>{{ payment.overpayment ? ( payment.overpayment | currency ) : '--' }}</td>
									<td>{{ payment.principal | currency }}</td>
									<td>{{ payment.end_balance | currency }}</td>
								</tr>
							</tbody>
						</table>
						<button class="btn btn-default" ng-click="loan.addRow();">add row</button>
						<button class="btn btn-default" ng-click="loan.addRow(1000);">add row with overpayment</button>
					</div>
				</div>



				<!-- Ledger -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-equalizer" ng-tooltip="Accounting. Act, count, think"></span>
						Ledger
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Type</th>
									<th>Name</th>
									<th>Value</th>
									<th>Interest</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entry in ledger.ledger | limitTo:12">
									<td>
										<span class="mono">{{ entry.date | date : 'MMM' }}</span>
										{{ entry.date | date : 'yyyy' }}
									</td>
									<td>{{ entry.type }}</td>
									<td>{{ entry.name }}</td>
									<td>{{ entry.value | currency }}</td>
									<td>{{ entry.interest | currency }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div style="clear: both;"></div>




	<!-- Layout -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!-- Header -->
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Title</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<main class="mdl-layout__content">
			<div class="page-content">




			<h2>Todo</h2>
			<ul>
					<li><strike>Task Runner / Environment</strike></li>
					<li><strike>AngularJS</strike></li>
					<li>Calculator - Fixed Income</li>
					<li><strike>Calculator - Loans</strike></li>
					<li>Calculator - Depreciating Assets</li>
					<li>Calculator - Stocks</li>
					<li>This is quite nice - <a href="http://accruejs.com/">accrue.js</a></li>
					<li><strike>Plan layout (paper)</strike></li>
					<li><strike>Implement layout</strike></li>
					<li>Plan charts (see <a href="https://jtblin.github.io/angular-chart.js/">chart.js</a>)</li>
			</ul>




			<h2>Career</h2>
			<ul>
					<li>Salary: £16,000</li>
			</ul>
			<h2>Decisions</h2>
			<ul>
					<li>car</li>
					<ul>
							<li>12y/o, £1,000 + £120.00 running costs</li>
							<li>6y/o, £1,000 + £80.00 running costs</li>
							<li>3y/o, £1,000 + £50.00 running costs</li>
							<li>new, £25,000 + £70.00 running costs</li>
							<li>lease</li>
							<li>buy</li>
							<li>sell</li>
					</ul>
					<li>house</li>
					<ul>
							<li>Prices increase over time (buy early)</li>
							<li>parents</li>
							<li>lease</li>
							<li>buy</li>
							<li>sell</li>
					</ul>
					<li>invest</li>
					<ul>
							<li>lump sym</li>
							<li>recurring</li>
					</ul>
					<li>change lifestyle</li>
					<ul>
							<li>gym membership</li>
							<li>movies</li>
							<li>skiing holiday</li>
							<li>summer holiday</li>
							<li>weekend break</li>
					</ul>
			</ul>
			<h2>Status</h2>
			<ul>
					<li>Lost in Interest: £5,000</li>
					<li>Earned in Interest: £27,000</li>
					<li>Share Balance: £100,000</li>
					<li>Bank Balance: £30,000</li>
					<li>House: Small (this should inflate slightly)</li>
					<li>Car: 6y/o, value: £1,543 (this should depreciate, show a graph?)</li>
					<li>Lifestyle: Luxurious</li>
					<li>Bankrupt in Retirement: No</li>
			</ul>







			</div>
		</main>
	</div>



	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/scripts/libraries.bundle.js"></script>
	<script src="/scripts/main.bundle.js"></script>
</body>
</html>