<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Fateful Choices -->
	<title>Fateful Choices</title>
	<!-- Styles -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/main.css">
</head>
<body ng-app="fateful">
	<div class="container" ng-controller="DemoCtrl">

		<hr>




		<div class="row">
			<div class="col-md-4">


				<!-- Loop -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-globe" ng-tooltip="Money maketh man\nManners maketh Gentleman"></span>
						{{ loop.date }}
					</h2>
					<div>
						<!-- Controls -->
						<p>
							<div id="loop-controls" class="btn-group btn-group-justified">
								<a href="" class="btn btn-default" ng-click="loop.play()" ng-class="{ 'btn-primary': loop.isPlaying }" ng-tooltip="Play">
									<span class="glyphicon glyphicon-play"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.pause()" ng-class="{ 'btn-primary': loop.isPaused }" ng-tooltip="Pause">
									<span class="glyphicon glyphicon-pause"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.tick()" ng-tooltip="Step forward 1 Month">
									<span class="glyphicon glyphicon-step-forward"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(1000)" ng-class="{ 'active': loop.speed == 1000 }" ng-tooltip="Speed: Tortoise">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(200)"  ng-class="{ 'active': loop.speed == 200 }" ng-tooltip="Speed: Hare">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
								<a href="" class="btn btn-default" ng-click="loop.setSpeed(50)"   ng-class="{ 'active': loop.speed == 50 }" ng-tooltip="Speed: Life's too short">
									<span class="glyphicon glyphicon-flash"></span>
								</a>
							</div>
						</p>
						<!-- Progress Meter -->
						<div class="progress">
							<div class="progress-bar" ng-style="{ width: getProgress() }"></div>
						</div>
						<!-- Age and Retirement -->
						<p>
							<span>Age: {{ loop.age | toYears }}</span>
							<span class="pull-right">Retirement in: {{ loop.remaining | toYears }}</span>
						</p>
						<!-- Upcoming Event -->
						<hr>
						<div class="list-group">
							<a href="" class="list-group-item" onclick="alert('Show the Timeline');">
								<span class="glyphicon glyphicon-time"></span>
								Next event: Promotion
							</a>
						</div>
					</div>
				</div>


				<!-- Bank -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-piggy-bank" ng-tooltip="Squeal like a pig!!"></span>
						The Bank
					</h2>
					<!-- Bank :: Overview -->
					<div>
						<h3>
							{{ ledger.balance | moneys }}
							<small>{{ ledger.diff | moneys }}</small>
						</h3>
						<!--div google-chart chart="loan.chart" style="height: 300px;"></div-->
						<!-- Quick Calculation -->
						<hr>
						<table style="cursor: pointer;" onclick="alert('Show the Ledger');">
							<thead>
								<tr>
									<th>Income</th>
									<th>Expenses</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ 1850 | moneys }}</td>
									<td>{{ 1690 | moneys }}</td>
									<td>
										<span class="glyphicon glyphicon-triangle-top"></span>
										{{ (1850-1690) | moneys }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Bank :: More -->
					<div ng-if="bool" class="slideInOut">
						<p>Hello world</p>
						<p>This is a test</p>
						<p>Do not be afraid</p>
					</div>
					<!-- Bank :: Toggle -->
					<div class="sliderToggle" ng-click="bool = !bool" ng-class="{ open: bool }">
						<span></span>
					</div>
				</div>


				<!-- Income -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-briefcase" ng-if="true"  ng-tooltip="Salaryman. That's the life for me"></span>
						<span class="glyphicon glyphicon-education" ng-if="false" ng-tooltip="Buy High! Sell Low!... right?"></span>
						Income
					</h2>
					<div>
						<h3>{{ 1850 | moneys }}</h3>
						<p>This should be coupled with a graph</p>
						<hr>
						<p>When clicked, show a breakdown</p>
						<p>Once the user invests, switch the icon from salaryman to investor</p>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="asset in assets">
									<th>{{ asset.name }}</th>
									<td>{{ asset.value | moneys }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>




				<!-- Liabilities -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-glass" ng-tooltip="Much obliged"></span>
						Liabilities
					</h2>
					<div>
						<h3>{{ 1690 | moneys }}</h3>
						<p>This should be coupled with a graph</p>
						<hr>
						<p>When clicked, show a breakdown</p>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Value</th>
									<th>Cost / Month</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="liability in liabilities">
									<th>{{ liability.name }}</th>
									<td>{{ liability.value | moneys }}</td>
									<td>--</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>



				<!-- Portfolio -->
				<div class="card" ng-controller="RadarCtrl">
					<h2>
						<span class="glyphicon glyphicon-book" ng-tooltip="Bet the spread."></span>
						Portfolio Diversity
					</h2>
				</div>






			</div>
			<div class="col-md-8">

				<!-- Ledger -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-equalizer" ng-tooltip="Accounting. Act, count, think"></span>
						Ledger
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Type</th>
									<th>Name</th>
									<th>In</th>
									<th>Out</th>
									<th>Balance</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entry in ledger.ledger">
									<td>{{ entry.date }}</td>
									<td>{{ entry.type }}</td>
									<td>{{ entry.name }}</td>
									<td>{{ entry.in | moneys }}</td>
									<td>{{ entry.out | moneys }}</td>
									<td>{{ entry.balance | moneys }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- Salary -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-scale" ng-tooltip="There are two sure ways to lose a friend, one is to borrow, the other to lend."></span>
						Salary :: {{ salary.name }}
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Yearly Salary</th>
									<th>Monthly Paycheck</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>{{ salary.salary | currency }}</th>
									<td>{{ salary.paycheck | currency }}</td>
									<td>{{ salary.total | currency }}</td>
								</tr>
							</tbody>
						</table>
						<p>
							Set Salary
							<button class="btn btn-default" ng-class="{ 'btn-primary': salary.salary == 18000 }" ng-click="salary.setSalary(18000);">{{ 18000 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': salary.salary == 22000 }" ng-click="salary.setSalary(22000);">{{ 22000 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': salary.salary == 36000 }" ng-click="salary.setSalary(36000);">{{ 36000 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': salary.salary == 40000 }" ng-click="salary.setSalary(40000);">{{ 40000 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': salary.salary == 52000 }" ng-click="salary.setSalary(52000);">{{ 52000 | currency }}</button>
						</p>
					</div>
				</div>


				<!-- Loan -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-scale" ng-tooltip="There are two sure ways to lose a friend, one is to borrow, the other to lend."></span>
						Loan :: {{ loan.name }}
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Amount</th>
									<th>APR</th>
									<th>Term</th>
									<th>Start</th>
									<th>Payment</th>
									<th>Total Paid</th>
									<th>Principal</th>
									<th>Interest</th>
									<th>Outstanding</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>{{ loan.amount | currency }}</th>
									<td>{{ loan.apr | percentage }}</td>
									<td>{{ loan.term }}</td>
									<td>{{ loan.start | date : 'dd/MM/yyyy' }}</td>
									<td>{{ loan.basicPayment | currency }}</td>
									<td>{{ loan.total.payment | currency }}</td>
									<td>{{ loan.total.principal | currency }}</td>
									<td>{{ loan.total.interest | currency }}</td>
									<td>{{ loan.total.outstanding | currency }}</td>
								</tr>
							</tbody>
						</table>

						<div google-chart chart="loan.chart" style="height: 300px;"></div>

						<p>
							Set Recurring Overpayment to:
							<button class="btn btn-default" ng-class="{ 'btn-primary': loan.regularOverpayment == 0 }" ng-click="loan.setRecurringOverpayment(0);">{{ 0 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': loan.regularOverpayment == 200 }" ng-click="loan.setRecurringOverpayment(200);">{{ 200 | currency }}</button>
							<button class="btn btn-default" ng-class="{ 'btn-primary': loan.regularOverpayment == 500 }" ng-click="loan.setRecurringOverpayment(500);">{{ 500 | currency }}</button>
						</p>
						<p>
							Make One-Off Overpayment:
							<button class="btn btn-default" ng-click="loan.makeOverpayment(250);">{{ 250 | currency }}</button>
							<button class="btn btn-default" ng-click="loan.makeOverpayment(500);">{{ 500 | currency }}</button>
							<button class="btn btn-default" ng-click="loan.makeOverpayment(1000);">{{ 1000 | currency }}</button>
						</p>
						<p>
							Take Payment Holiday
							<button class="btn btn-default" ng-click="loan.startPaymentHoliday(1);">1 month</button>
							<button class="btn btn-default" ng-click="loan.startPaymentHoliday(3);">3 months</button>
							<button class="btn btn-default" ng-click="loan.startPaymentHoliday(12);">12 months</button>
						</p>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Start Balance</th>
									<th>Payment</th>
									<th>Interest</th>
									<th>Overpayment</th>
									<th>Principal</th>
									<th>End Balance</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="payment in loan.payments">
									<td>{{ payment.date }}</td>
									<td>{{ payment.start_balance | moneys }}</td>
									<td>{{ payment.payment | moneys }}</td>
									<td>{{ payment.interest | moneys }}</td>
									<td>{{ payment.overpayment | moneys }}</td>
									<td>{{ payment.principal | moneys }}</td>
									<td>{{ payment.end_balance | moneys }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- Intro -->
				<div class="card">
					<h1>Fateful Choices</h1>
					<div>
						<p>Learn how the decisions you make affect your finances.</p>
						<p>You cannot change your income, but you can choose your lifestyle!</p>
						<p>The goal is to live a good life, and have enough left over for retirement.</p>
						<p class="text-center">
							<button class="btn btn-default btn-lg" onclick="alert('Lord Moneybollocks... Hooo!');">Let's Begin</button>
						</p>
					</div>
				</div>

				<!-- Timeline -->
				<div class="card">
					<h2>
						<span class="glyphicon glyphicon-time" ng-tooltip="Time and tide wait for no man"></span>
						Timeline
					</h2>
					<div>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Title</th>
									<th>Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jan 2022</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>Jan 2025</td>
									<td class="text">Wedding</td>
									<td class="text">A one-off expense, that results in a joint income</td>
								</tr>
								<tr>
									<td>Jan 2029</td>
									<td class="text">Job Hunt</td>
									<td class="text">
										You lose your job, no income for 6 months
										<span class="label label-danger">Hard-Mode</span>
									</td>
								</tr>
								<tr>
									<td>Jan 2026</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>Jan 2027</td>
									<td class="text">Inheritance</td>
									<td class="text">
										Gain a lump sum
										<span class="label label-success">Easy-Mode</span>
									</td>
								</tr>
								<tr>
									<td>Jan 2029</td>
									<td class="text">Baby</td>
									<td class="text">Your joint income is reduced, and you your expenses increase over time</td>
								</tr>
								<tr>
									<td>Jan 2032</td>
									<td class="text">Promotion</td>
									<td class="text">Results in a payrise</td>
								</tr>
								<tr>
									<td>Jan 2029</td>
									<td class="text">Divorce</td>
									<td class="text">
										Your joint income is removed, sell your house and split the difference
										<span class="label label-danger">Hard-Mode</span>
									</td>
								</tr>
								<tr>
									<td>Jan 2052</td>
									<td class="text">Retirement</td>
									<td class="text">Will you sail into the sunset, or live in abject poverty?</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div style="clear: both;"></div>




	<!-- Layout -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!-- Header -->
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Title</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
				</nav>
			</div>
		</header>
		<!-- Content -->
		<main class="mdl-layout__content">
			<div class="page-content">




			<h2>Todo</h2>
			<ul>
					<li><strike>Task Runner / Environment</strike></li>
					<li><strike>AngularJS</strike></li>
					<li>Calculator - Fixed Income</li>
					<li><strike>Calculator - Loans</strike></li>
					<li>Calculator - Depreciating Assets</li>
					<li>Calculator - Stocks</li>
					<li>This is quite nice - <a href="http://accruejs.com/">accrue.js</a></li>
					<li><strike>Plan layout (paper)</strike></li>
					<li><strike>Implement layout</strike></li>
					<li>Plan charts (see <a href="https://jtblin.github.io/angular-chart.js/">chart.js</a>)</li>
			</ul>




			<h2>Career</h2>
			<ul>
					<li>Salary: £16,000</li>
			</ul>
			<h2>Decisions</h2>
			<ul>
					<li>car</li>
					<ul>
							<li>12y/o, £1,000 + £120.00 running costs</li>
							<li>6y/o, £1,000 + £80.00 running costs</li>
							<li>3y/o, £1,000 + £50.00 running costs</li>
							<li>new, £25,000 + £70.00 running costs</li>
							<li>lease</li>
							<li>buy</li>
							<li>sell</li>
					</ul>
					<li>house</li>
					<ul>
							<li>Prices increase over time (buy early)</li>
							<li>parents</li>
							<li>lease</li>
							<li>buy</li>
							<li>sell</li>
					</ul>
					<li>invest</li>
					<ul>
							<li>lump sym</li>
							<li>recurring</li>
					</ul>
					<li>change lifestyle</li>
					<ul>
							<li>gym membership</li>
							<li>movies</li>
							<li>skiing holiday</li>
							<li>summer holiday</li>
							<li>weekend break</li>
					</ul>
			</ul>
			<h2>Status</h2>
			<ul>
					<li>Lost in Interest: £5,000</li>
					<li>Earned in Interest: £27,000</li>
					<li>Share Balance: £100,000</li>
					<li>Bank Balance: £30,000</li>
					<li>House: Small (this should inflate slightly)</li>
					<li>Car: 6y/o, value: £1,543 (this should depreciate, show a graph?)</li>
					<li>Lifestyle: Luxurious</li>
					<li>Bankrupt in Retirement: No</li>
			</ul>







			</div>
		</main>
	</div>



	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/scripts/libraries.bundle.js"></script>
	<script src="/scripts/main.bundle.js"></script>
</body>
</html>